*, ::before, ::after {
    /* border: 1px solid black; */
    font-size: 62.5%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: rgb(255, 239, 186);
    display: flex;
    width: 100%;
    height: 100vh;
    /* align-items: center; */
    justify-content: center;

  }
  
  header {
    display: flex;
    font-size: 5rem;
    height: 7rem;
    width: 90vw;
    position: fixed;
    z-index: 1;
    background-color: rgb(255, 224, 120);
    align-items: center;
    justify-content: center;
    flex-wrap:nowrap;
    border-radius: 0 0 10% 10%;
  }

  #header-img {
    max-width: 100%;
    height: auto;
    max-height: 80%;
    padding: 0 1rem 0 1rem;
  }

  h1 {
    display: inline-block;
    padding-right: 6rem;
    font-size: 5rem;
    font-family: Stencil Std, fantasy;
  }

  #nav-bar {
    height: 100%; 
  }
  #nav-bar, #nav-bar>ul {
    display: flex;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
  }

  #nav-bar>ul {
    list-style-type: none;
    height: 100%;
    text-align: center;
  }

  .nav-link {
    padding: 10% 4rem 10% 4rem;
    display: block;
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }

  #nav-bar>ul>li:hover, .nav-link:hover {
    background-color: rgb(255, 149, 149);
    color: rgb(253, 236, 180);
    
  }

  #nav-bar>ul>li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  

  
  
  .body {
    position: absolute;
    top: 7rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    /* justify-content:space-between; */
    width:  100%;
    font-size: 7rem;
  }

  .intro-quote {
    text-decoration: none;
    margin-top: 5rem;
    font-style: italic;
    /* background-color: gold; */
  }
  

/*  subscription stuff */
  form {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    margin: 4rem;
    background-color: rgb(255, 224, 120);
    border-radius: 10%;
    align-items: center;
    justify-content: center;
  }

  form>label>h2 {
    padding: 2rem;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  ::placeholder {
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }

  #submit {
    padding: 1rem .5rem 1rem .5rem;
    width: 40%;
    margin: 1rem;
    background-color: rgb(245,190,55);
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #submit:hover {
    background-color: rgb(255, 149, 149);
  }
  
  #email {
    font-size: 2rem;
    width: 100%;
  }
  

  
  label {
    font-size: 4rem;
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* background-color: rgb(255, 255, 255); */
  }
  #about>ul{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: left;
    margin: auto;
    /* background-color: grey; */
  }

  .about-info {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    width: 100%;
    /* background-color: green; */
  }
  #about>h2 {
    text-decoration: none;
    align-items: center;
    font-size: 4rem;
    margin: 2rem;
  }

  .about-h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    /* background-color: gold; */
    width: 30%;
    text-align: right;
  }
  .about-p {
    font-size: 3rem;
    margin: 1.5rem 1rem 1rem 1rem;
    width: auto;
    /* background-color: gold; */
  }


  #video {
    height: 315px;
    width: 500px;
    margin: 50px;
  }

  .merch-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10rem auto 40rem auto;
  
  }

  .img-merch {
    height: auto;
    width: 900px;
    height: 900px;
  }
  .img-merch>img {
    background-position: bottom;
  }

/* footer stuff */

  footer {
    position: absolute;
    background-color: rgb(255, 224, 120);
    width: 90vw;
    height: 20rem;
    bottom: 0;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10% 10% 0 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
  }

  .footer-info {
    /* background-color: rgb(255, 214, 214); */
    padding: 1rem;
    margin: 1rem;
    
    height: 60%;
    border: 2px solid black;
    background-color: rgb(253, 236, 180);
    border-radius: 10%;
  }

  h2 {
    text-decoration: underline;
  }

  .break {
    border: 2px solid gold;
    width: 100%;
  }

